.calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.calendar-wrapper .cw-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.month-year {
    display: flex;
    font-weight: 700;
    font-size: 30px;

    span {
        margin-left: 7px;
    }
}

.bf-switcher {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.bf-switcher .today {
    font-weight: 700;
    font-size: 17px;
    margin: 0px 10px;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.bf-switcher svg,
.add svg {
    width: 24px;
    height: 24px;
}

.bf-switcher .back,
.bf-switcher .forward,
.add {
    transition: all 0.2s ease-in-out;
    padding: 4px;
    border-radius: 10px;
}

.bf-switcher .back,
.bf-switcher .forward {
    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.add {
    background-color: lightcoral;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.calendar-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ebe6e7;
    border-radius: 20px;
    padding: 20px;
}

.calendar-top {
    display: flex;
    margin-bottom: 10px;
}

.weekday {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.calendar-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.calendar-main.extra {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
    border-top: 1px solid #ebe6e7;
    padding: 10px 7px;
    font-weight: 600;
    z-index: 0;
    position: relative;
    color: rgb(156, 156, 156);
    font-size: 15px;
}

.day.today {
    color: rgb(0, 110, 255);
    font-weight: 700;
}

.weekday.today {
    color: rgb(0, 110, 255);
    font-weight: 700;
}

.day.pm {
    color: rgba(192, 192, 192, 0.644);
    font-weight: 400;
}

.event {
    margin-top: 2px;
    z-index: 1;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    padding: 2px 10px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.extra-text {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.weekview-area {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    scrollbar-gutter: 10px;

    &::-webkit-scrollbar {
        width: 7px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(236, 236, 236);
        border-radius: 20px;
    }
}

.weekview-allday {
    position: sticky;
    top: 0;
    border: 1px solid rgb(235, 230, 231);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekview-allday-grid {
    padding: 4px 2px;
    border-right: 1px solid rgb(235, 230, 231);
    display: flex;
    align-items: center;
    z-index: 10;
}

.weekview-allday-grid:last-child {
    border: none;
}

.weekview-allday-grid-header {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(138, 138, 138);
}

.weekview-collapsed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: sticky;
    top: 50px;
    background-color: white;
    z-index: 100;
    opacity: 80%;
}

.weekview-collapsed-area {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 7 / span 7;
    height: 30px;
}

.weekview-collapsed-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    border-radius: 10px;
    color: rgb(139, 139, 139);

    &:hover {
        background-color: rgb(238, 238, 238);
    }
}

.weekview-grid {
    margin-top: 30px;
    position: relative;
}

.weekview-grid-grid {
    display: grid;
    border-bottom: 1px solid rgb(235, 230, 231);
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom-width: 1px;
    border-color: #ebe6e7;
}

.weekview-grid-grid-time {
    font-size: 12px;
    color: rgb(138, 138, 138);
    border-right: 1px solid #ebe6e7;
    font-weight: 600;
}

.weekview-grid-grid-grid {
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
    border-right: 1px solid #ebe6e7;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.weekview-grid-grid-grid.today {
    background-color: rgba(242, 247, 255, 0.692);
}

.event-block {
    width: 95%;
    position: absolute;
    color: black;
    border-radius: 8px;
    padding: 5px 8px;
    z-index: 2000;
    user-select: none;
    cursor: move;
    transition: 0.2s all ease-in-out;
    overflow: hidden;
    pointer-events: all;

    &:hover {
        opacity: 90%;
    }
}

.event-block-title {
    font-weight: 600;
    font-size: 13px;
}

.event-block-desc {
    font-size: 13px;
}

.weekview-grid-events {
    position: absolute;
    pointer-events: none;
    inset: 0;
    overflow: hidden;
}

.weekview-grid-events-area {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}

.calendar-top.weekview {
    margin-left: 83px;
}
