.dwm-switcher-area {
    display: flex;
    justify-content: center;
    height: 41px;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    z-index: 200;
}

.dwm-switcher {
    display: flex;
    justify-content: space-between;
    max-width: 342;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid #ebe6e7;
    position: relative;
}

.day-switcher,
.week-switcher,
.month-switcher {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    z-index: 2;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 0px 25px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 114px;
    justify-content: center;
}

.indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    left: 0;
    width: 0;
    border: 1px solid #ebe6e7;
}
