.task-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    align-items: center;
}

.task-ok {
    max-width: 1000px;
    width: 100%;
}

.task-header {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.task-area {
    height: min-content;
    box-shadow: 0 0px 5px rgba(202, 202, 202, 0.377);
    border: 2px solid rgba(202, 202, 202, 0.644);
    border-radius: 10px;
    width: 100%;
    padding: 15px 20px;
}

.task-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 12px;
}

.task-category {
    font-weight: 600;
}

.task-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task {
    display: flex;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    padding: 20px;
    font-weight: 600;
}

.task:not(:last-child) {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.task-color {
    display: flex;
    width: 5px;
    border-radius: 10px;
    align-self: stretch;
    margin-right: 20px;
}

.complete-task {
    svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
}

.task-completed-number {
    font-weight: 600;
    font-size: 15px;
    opacity: 50%;
    margin-right: 30px;
}

.task-percentage-bar-wrapper {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    width: 250px;
    height: 10px;
    display: flex;
    margin-right: 30px;
}

.task-percentage-bar {
    transition: all 0.2s ease-in-out;
    background-color: rgb(0, 110, 255);
    border-radius: 20px;
}

.task-percentage {
    display: flex;
    justify-content: right;
    width: 30px;
    font-weight: 600;
}

.complete-task {
    svg {
        width: 24px;
        fill: rgb(194, 194, 194);
    }

    .checkmark-svg {
        fill: rgb(74, 221, 74);
    }
}

.no-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 60%;
    height: 150px;
    margin-top: 150px;

    svg {
        width: 60px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 600;
    }
}
