.task-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.task-header {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
}

.task-area {
    width: 600px;
    height: min-content;
}

.task-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks {
    display: flex;
}

.task {
    display: flex;
    margin-top: 30px;
}

.complete-task {
    svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
}

.task-completed-number {
    font-weight: 600;
    font-size: 15px;
    opacity: 50%;
}

.task-percentage-bar-wrapper {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    width: 250px;
    height: 10px;
    display: flex;
}

.task-percentage-bar {
    transition: all 0.2s ease-in-out;
}

.complete-task {
    svg {
        width: 24px;
    }
}

.no-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 60%;
    height: 150px;
    margin-top: 150px;

    svg {
        width: 60px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 600;
    }
}
