@import url("../../styles/globals");

.ai-agent-wrapper {
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 3px solid rgba(226, 226, 226, 0.644);
    transition: all 0.2s ease-in-out;
    z-index: 20000;
    position: absolute;
    top: calc(100vh / 2 + 400);
    left: calc(100vw / 2 - 700);
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(202, 202, 202, 0.644);
    background-color: white;
}

.ai-agent-wrapper.in {
    transform: scale(0);
}

.ai-agent-wrapper.v {
    transform: scale(1);
}

.out .chat,
.out .chat-box,
.out .m {
    display: none;
}

.out.ai-agent-wrapper {
    width: 0;
}

.chat {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.m {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: rgba(226, 226, 226, 0.644);
    margin-bottom: 12px;
    max-width: 70%;
    width: fit-content;
}

.user {
    align-self: flex-end;
    background-color: rgba(95, 164, 255, 0.514);
}

.thinking {
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
    color: rgba(110, 110, 110, 0.781);
    margin-left: 10px;
    margin-bottom: 5px;
    visibility: hidden;
}

.thinking.true {
    visibility: visible;
}

.chat-box {
    height: 50px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(226, 226, 226, 0.644);
    padding-left: 16px;

    &::placeholder {
        font-weight: 600;
    }
}
