@import url("../../styles/globals");

.ai-agent-wrapper {
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 3px solid rgba(226, 226, 226, 0.644);
    transition: all 0.2s ease-in-out;
    z-index: 20000;
    position: absolute;
    top: calc(100vh / 2 + 400);
    left: calc(100vw / 2 - 700);
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(202, 202, 202, 0.644);
    background-color: white;
}

.ai-agent-wrapper.in {
    transform: scale(0);
}

.ai-agent-wrapper.v {
    transform: scale(1);
}

.out .chat,
.out .chat-box,
.out .m {
    display: none;
}

.out.ai-agent-wrapper {
    width: 0;
}

.chat {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    max-height: 316px;
}

.m {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: rgba(226, 226, 226, 0.644);
    margin-bottom: 12px;
    max-width: 70%;
    width: fit-content;
}

.user {
    align-self: flex-end;
    background-color: rgba(95, 164, 255, 0.514);
}

.thinking {
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
    color: rgba(110, 110, 110, 0.781);
    margin-left: 10px;
    margin-bottom: 5px;
    visibility: hidden;
}

.thinking.true {
    visibility: visible;
}

.chat.r {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
}

.chat.r svg {
    display: flex;
    width: 70px;
    margin-bottom: 20px;
}

.chat.r .text {
    height: 20px;
    opacity: 50%;
}

.chat-area {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid transparent;
    position: relative;
    display: block;
    background-color: rgba(236, 236, 236, 0.199);
    background: linear-gradient(white, white) padding-box,
        linear-gradient(
                20deg,
                color(display-p3 0.6196078431 0.4784313725 1 / 1) 0%,
                color(display-p3 0.9960784314 0.5450980392 0.7333333333 / 1) 25%,
                color(display-p3 1 0.7411764706 0.4784313725 / 1) 50%,
                color(display-p3 0.9725490196 0.9176470588 0.7647058824 / 1) 75%,
                color(display-p3 0.6196078431 0.4784313725 1 / 1) 100%
            )
            border-box;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: 600% 100%;
    background-position-x: 0%;
    animation: shift-gradient 20s linear infinite;
    will-change: background-position;
    backface-visibility: hidden;
    transform: translateZ(0);
}

@keyframes shift-gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -600% 0%;
    }
}

.chat-box {
    width: 100%;
    padding-left: 16px;
    outline: none;
    font-weight: 600;
    margin-top: 10px;

    &::placeholder {
        font-weight: 600;
    }
}

.send-button {
    position: absolute;
    background-color: black;
    padding: 5px;
    top: 55px;
    right: 11px;
    border-radius: 10px;

    svg {
        width: 20px;
        fill: white;
    }
}
