.calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
}

.calendar-wrapper .cw-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}

.month-year {
    font-weight: 700;
    font-size: 30px;
    span {
        font-weight: 600;
        color: grey;
    }
}

.dwm-switcher {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.day-switcher,
.week-switcher,
.month-switcher {
    padding: 10px 30px;
    background-color: #87cefa;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 20px;
    width: 150px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

.month-switcher {
    margin: 0;
}

.dwm-switcher .active {
    background-color: rgb(189, 224, 255);
}

.bf-switcher {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.bf-switcher .today {
    font-weight: 700;
    font-size: 20px;
    margin: 0px 10px;
    transition: all 0.2s ease-in-out;
    padding: 10px 15px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.bf-switcher svg,
.add svg {
    width: 24px;
    height: 24px;
}

.bf-switcher .back,
.bf-switcher .forward,
.add {
    transition: all 0.2s ease-in-out;
    padding: 8px;
    border-radius: 10px;
}

.bf-switcher .back,
.bf-switcher .forward {
    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.add {
    background-color: lightcoral;

    &:hover {
        transform: scale(1.05);
    }
}

.calendar-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar-top {
    display: flex;
    margin-bottom: 10px;
}

.weekday {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.calendar-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.calendar-main.extra {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
    border-top: 1px solid rgb(219, 219, 219);
    padding: 10px 15px;
    font-weight: 600;
    z-index: 0;
    position: relative;
    color: rgb(139, 139, 139);
    font-size: 15px;
}

.day.today {
    color: rgb(0, 110, 255);
    font-weight: 700;
}

.weekday.today {
    color: rgb(0, 110, 255);
    font-weight: 700;
}

.day.pm {
    color: rgba(165, 165, 165, 0.644);
    font-weight: 400;
}

.event {
    margin-top: 2px;
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    padding: 2px 10px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.extra-text {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.weekview-area {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.weekview-allday {
    position: sticky;
    top: 0;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekview-allday-grid {
    padding: 4px 2px;
    border-right: 1px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    z-index: 10;
}

.weekview-allday-grid-header {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(138, 138, 138);
}

.weekview-collapsed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: sticky;
    top: 50px;
    background-color: white;
    z-index: 10;
}

.weekview-collapsed-area {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 7 / span 7;
    height: 30px;
}

.weekview-collapsed-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    border-radius: 10px;
    color: rgb(139, 139, 139);
    
    &:hover {
        background-color: rgb(238, 238, 238);
    }
}

.weekview-grid {
    margin-top: 30px;
    position: relative;
}

.weekview-grid-grid {
    display: grid;
    border-bottom: 1px solid rgb(212, 212, 212);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom-width: 1px;
    border-color: rgb(212, 212, 212);
}

.weekview-grid-grid-time {
    font-size: 13px;
    color: rgb(138, 138, 138);
    border-right: 1px solid rgb(212, 212, 212);
}

.weekview-grid-grid-grid {
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
    border-right: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    user-select: none;
}