@import url("../../styles/globals.css");

.expand {
    position: absolute;
    right: -19px;
    background-color: white;
    border: 3px solid rgba(226, 226, 226, 0.644);
    border-radius: 10px;
    padding: 2px;
    top: calc(100vh / 2);

    svg {
        transition: all 0.2s ease-in-out;
    }
}

.out.sidebar-wrapper,
.out .option {
    width: min-content;
}

.option-name,
.name,
.sign-out,
.account-details {
    transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out,
        width 0.3s ease-in-out;
}

.out .option-name,
.out .name,
.out .account-details {
    margin: 0;
    opacity: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
}

.out .sign-out {
    opacity: 0;
    visibility: hidden;
}

.out .account-details {
    display: none;
}

.expand svg {
    transition: transform 0.3s ease-in-out;
}

.in .expand svg {
    transform: rotate(180deg);
}

.out .top .logo,
.out .top .name {
    margin: 0;
}

.out .top {
    width: min-content;
}

.out .menu {
    width: min-content;
}

.sidebar-wrapper {
    display: flex;
    height: 100%;
    width: 290px;
    padding: 44px 20px;
    border-right: 2px solid #ebe6e7;
    position: relative;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px;
}

.top .logo,
.option .icon,
.account-icon {
    flex-shrink: 0;
}

.top .logo {
    display: flex;
    width: 35px;
    margin-left: 10px;

    svg {
        stroke-width: 2px;
    }
}

.top .name {
    font-weight: 700;
    font-size: 22px;
    flex-grow: 1;
    margin-left: 10px;
}

.menu {
    padding-top: 20px;
    width: 100%;
    border-top: 2px solid #ebe6e7;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.option {
    display: flex;
    padding: 10px 15px;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    position: relative;
}

.sidebar-wrapper:not(.out) .option.active {
    ::before {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 5px;
        content: "";
        background-color: rgb(34, 170, 255);
        border-radius: 10px;
    }
}

.option.active {
    background-color: aliceblue;

    .option-name {
        color: rgb(34, 170, 255);
    }

    .icon svg {
        fill: rgb(34, 170, 255);
    }
}

.option .icon,
.account-icon {
    width: 24px;
}

.option-name,
.account-name {
    margin-left: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.788);
}

.option:hover {
    background-color: rgba(226, 226, 226, 0.507);
    cursor: pointer;
}

.settings,
.help {
    width: 100%;
}

.account-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid #ebe6e7;
    margin-top: 10px;
}

.account {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 15px;
    height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.account-details {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    align-items: last baseline;
}

.account:hover {
    background-color: rgba(226, 226, 226, 0.507);
    cursor: pointer;
}

.account-name {
    font-size: 18px;
}

.account-email {
    font-size: 14px;
}

.sign-out {
    padding: 10px;
    height: 40px;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
    color: white;
}

.sign-out:hover {
    cursor: pointer;
    scale: 1.02;
}

.sidebar-minimized {
    display: none;
}
