.calendar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
}

.calendar-wrapper .cw-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}

.month-year {
    font-weight: 700;
    font-size: 30px;
    span {
        font-weight: 600;
        color: grey;
    }
}

.dwm-switcher {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.day-switcher,
.week-switcher,
.month-switcher {
    padding: 10px 30px;
    background-color: lightblue;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 20px;
    width: 150px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

.month-switcher {
    margin: 0;
}

.dwm-switcher .active {
    background-color: aliceblue;
}

.bf-switcher {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.bf-switcher .today {
    font-weight: 700;
    font-size: 20px;
    margin: 0px 10px;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.bf-switcher svg {
    width: 30px;
}

.bf-switcher .back,
.bf-switcher .forward,
.add {
    transition: all 0.2s ease-in-out;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(226, 226, 226, 0.507);
    }
}

.add svg {
    width: 30px;
    stroke-width: 2px;
}

.calendar-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar-top {
    display: flex;
    margin-bottom: 10px;
}

.weekday {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.calendar-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.calendar-main.extra {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
    border-top: 1px solid gray;
    padding: 10px 15px;
    font-weight: 600;
    z-index: 0;
    position: relative;
}

.day.today {
    color: rgb(0, 110, 255);
    font-weight: 700;
}

.day.pm {
    color: rgba(165, 165, 165, 0.644);
    font-weight: 400;
}

.event {
    margin-top: 2px;
    background-color: lightblue;
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    padding: 2px 10px;
    font-weight: 600;
    user-select: none;
}

.editor-overlay {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 99998;
}

.event.editing {
    z-index: 100 !important;
}

.event-editor-popup {
    position: fixed;
    z-index: 99999;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
}

.event-editor-popup .ee-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}

.event-editor-popup input {
    width: 100%;
    padding: 2px 8px;
    border-radius: 6px;
    border: 3px solid transparent;
    font-size: 15px;
    font-weight: 600;
    outline: 1px solid black;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.event-editor-popup input::placeholder {
    font-size: 14px;
}

.event-editor-popup input:focus {
    border-color: rgb(0, 110, 255);
}

.event-editor-popup .buttons {
    display: flex;
    margin-top: 12px;
    width: 100%;
}

.holder-area {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.event-editor-popup button:first-child {
    margin-right: 10px;
}

.event-editor-popup button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #007bff;
    color: white;
    text-align: center;
    width: 100%;
}

.event-editor-popup button:nth-child(2) {
    background: #999;
}
