.expand {
    position: absolute;
    right: -19px;
    background-color: white;
    border: 3px solid rgba(226, 226, 226, 0.644);
    border-radius: 10px;
    padding: 2px;
    top: calc(100vh / 2);
}

.sidebar-wrapper {
    display: flex;
    height: 100%;
    width: 290px;
    padding: 44px 20px;
    border-right: 3px solid rgba(226, 226, 226, 0.644);
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px;
}

.top .logo {
    display: flex;
    width: 40px;
    svg {
        stroke-width: 3px;
    }
}

.top .name {
    font-weight: 700;
    font-size: 22px;
    flex-grow: 1;
    margin-left: 10px;
}

.menu {
    padding-top: 20px;
    width: 100%;
    border-top: 3px solid rgba(226, 226, 226, 0.644);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.option {
    display: flex;
    padding: 10px 15px;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    position: relative;
}

.option.active {
    ::before {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 3px;
        content: "";
        background-color: rgb(0, 110, 255);
    }

    .option-name {
        color: rgb(0, 110, 255);
    }

    .icon svg {
        fill: rgb(0, 110, 255);
    }
}

.option .icon,
.account-icon {
    margin-right: 14px;
    width: 24px;
}

.option-name,
.account-name {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.788);
}

.option:hover {
    background-color: rgba(226, 226, 226, 0.507);
    cursor: pointer;
}

.settings,
.help {
    width: 100%;
}

.account-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.account {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 15px;
    padding-top: 20px;
    height: 80px;
    align-items: center;
    border-top: 3px solid rgba(226, 226, 226, 0.644);
}

.account-details {
    display: flex;
    flex-direction: column;
}

.account-name {
    font-size: 18px;
}

.account-email {
    font-size: 14px;
}

.account-icon {
    width: 35px;
}

.sign-out {
    padding: 10px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
    color: white;
}

.sidebar-minimized {
    display: none;
}
