.editor-overlay {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 99998;
}

.event.editing {
    z-index: 100 !important;
}

.event-editor-popup {
    position: fixed;
    z-index: 99999;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
}

.event-editor-popup .ee-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}

.event-editor-popup input,
.event-editor-popup textarea {
    width: 100%;
    padding: 2px 8px;
    border-radius: 6px;
    border: 2.5px solid transparent;
    font-size: 15px;
    font-weight: 600;
    outline: 1px solid black;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    min-height: 30.5px;
}

.event-editor-popup input::placeholder,
.event-editor-popup textarea::placeholder {
    font-size: 14px;
}

.event-editor-popup input:focus,
.event-editor-popup textarea:focus {
    border-color: rgb(0, 110, 255);
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.all-day {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
}

.all-day-checkbox {
    display: none;
}

.slider {
    width: 60px;
    height: 30px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.slider::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-30px);
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.all-day-checkbox:checked ~ .slider::before {
    transform: translateX(30px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
    color: #87cefa;
}

.all-day-checkbox:checked ~ .slider {
    background-color: #2196f3;
}

.all-day-checkbox:active ~ .slider::before {
    transform: translate(0);
}

.starts-row,
.ends-row {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;

    .inputs {
        display: flex;
        align-items: center;

        input {
            margin: 0;
            cursor: pointer;
        }
    }

    input[type="date"] {
        width: 105px;
        text-align: center;
    }

    input[type="text"] {
        width: 60px;
        text-align: center;
        margin-left: 20px;
    }
    input::-webkit-calendar-picker-indicator {
        display: none;
    }

    margin-top: 15px;
}

.colors-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: 600;
}

.event-colors {
    display: flex;
}

.event-color {
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.holder-area {
    flex-grow: 1;
    width: 100%;
}

.event-editor-popup .buttons {
    display: flex;
    margin-top: 12px;
    width: 100%;
    justify-content: space-between;
}

.event-editor-popup button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.trash {
    display: flex;
    align-items: center;
    width: min-content;
    margin: 0;
    flex-grow: 1;
}

.delete-button {
    fill: lightcoral;
    padding: 5px;
    margin: 0;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
    }
}

.cu-button {
    background-color: #87cefa;
}

.cu-button,
.cancel-button {
    width: 100px;
    height: 35px;
}

.cancel-button {
    background-color: #dbdbdb;
    margin-right: 15px;
}
